@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            <a href="/cabinet/main">Админка</a>
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Редактирование</h2></div>
    </div>
    <div class="container" id="container">
        <div id="pagecontent">
            <div class="list_1">
                <h2 class="tabset_label">Table of Contents</h2>
                <ul class="tabset_tabs">
                    <li class="firstchild1"><a href="/Cabinet/Main" class="1">Главная</a></li>
                    <li><a class="preActive active" href="/Cabinet/Page/List">Типовые страницы</a></li>
                    <li><a class="2" href="/Cabinet/Menu/List">Меню/Доставка</a></li>
                    <li><a class="2" href="/Cabinet/Game/List">Игры/Тарифы</a></li>
                    <li><a class="2" href="/Cabinet/Comment/List">Комментарии</a></li>
                </ul>
            </div>
            <div id="adminka2" class="tabset_content tabset_content_active">
                <h2 class="tabset_label">adminka</h2>

                <div class="headline">
                    <h2>Добавленная информация</h2>
                </div>
                <div class="added">
                    <table class="added">
                        <tr>
                            <td>
                                <div class="prod_info">
                                    <h3>Лазертаг ТЕХАС</h3>
                                </div>
                            </td>
                            <td>
                                <div class="edit_del">
                                    <form method="LINK" action="/cabinet/page/detail/1">
                                        <button>Редактировать</button>
                                    </form>
                                    <pre> </pre>
                                    <pre> </pre>
                                    <!-- <button>Удалить</button> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="prod_info">
                                    <h3>Лазертаг ШТАБ</h3>
                                </div>
                            </td>
                            <td>
                                <div class="edit_del">
                                    <form method="LINK" action="/cabinet/page/detail/6">
                                        <button>Редактировать</button>
                                    </form>
                                    <pre> </pre>
                                    <pre> </pre>
                                    <!-- <button>Удалить</button> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="prod_info">
                                    <h3>Сауна/Гостиница</h3>
                                </div>
                            </td>
                            <td>
                                <div class="edit_del">
                                    <form method="LINK" action="/cabinet/page/detail/2">
                                        <button>Редактировать</button>
                                    </form>
                                    <pre> </pre>
                                    <pre> </pre>
                                    <!-- <button>Удалить</button> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="prod_info">
                                    <h3>Кафе/Банкетный зал/Караоке</h3>
                                </div>
                            </td>
                            <td>
                                <div class="edit_del">
                                    <form method="LINK" action="/cabinet/page/detail/4">
                                        <button>Редактировать</button>
                                    </form>
                                    <pre> </pre>
                                    <pre> </pre>
                                    <!-- <button>Удалить</button> -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="prod_info">
                                    <h3>Меню</h3>
                                </div>
                            </td>
                            <td>
                                <div class="edit_del">
                                    <form method="LINK" action="/cabinet/page/detail/5">
                                        <button>Редактировать</button>
                                    </form>
                                    <pre> </pre>
                                    <pre> </pre>
                                    <!-- <button>Удалить</button> -->
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>