<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="index.html">Главная</a>
            <pre> </pre>
            <p>></p>
            <pre> </pre>
            <a href="cartfood.html">Корзина</a>
        </div>
    </div>
</div>
<div class="information_topic">
    <div class="container" id="container">
        <div class="h2"><h2>Корзина</h2></div>
    </div>
    <div class="container" id="container">
        <div class="list_of_prod">
            <table>
                <tr class="head">
                    <td>Фото</td>
                    <td>Название</td>
                    <td>Кол-во</td>
                    <td>Цена за 1 шт. (грн)</td>
                    <td>Всего</td>
                </tr>
                <tr class="prod">
                    <td><img src="~/Content/images/cartimg.png" width="71" height="53"></td>
                    <td>Шашлык из свинины</td>
                    <td>
                        <div class="input_"><input type="number" size="3" name="num" min="1" max="10" value="1"></div>
                    </td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </table>
            <table>
                <tr class="head">
                    <td>Фото</td>
                    <td>Название</td>
                    <td>Кол-во</td>
                    <td>Цена за 1 шт. (грн)</td>
                    <td>Всего</td>
                </tr>
                <tr class="prod">
                    <td><img src="~/Content/images/cartimg.png" width="71" height="53"></td>
                    <td>Шашлык из свинины</td>
                    <td>
                        <div class="input_"><input type="number" size="3" name="num" min="1" max="10" value="1"></div>
                    </td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </table>
            <table>
                <tr class="head">
                    <td>Фото</td>
                    <td>Название</td>
                    <td>Кол-во</td>
                    <td>Цена за 1 шт. (грн)</td>
                    <td>Всего</td>
                </tr>
                <tr class="prod">
                    <td><img src="~/Content/images/cartimg.png" width="71" height="53"></td>
                    <td>Шашлык из свинины</td>
                    <td>
                        <div class="input_"><input type="number" size="3" name="num" min="1" max="10" value="1"></div>
                    </td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </table>
            <table>
                <tr class="head">
                    <td>Фото</td>
                    <td>Название</td>
                    <td>Кол-во</td>
                    <td>Цена за 1 шт. (грн)</td>
                    <td>Всего</td>
                </tr>
                <tr class="prod">
                    <td><img src="~/Content/images/cartimg.png" width="71" height="53"></td>
                    <td>Шашлык из свинины</td>
                    <td>
                        <div class="input_"><input type="number" size="3" name="num" min="1" max="10" value="1"></div>
                    </td>
                    <td>100</td>
                    <td>100</td>
                </tr>
            </table>

            <div class="sum">
                <table class="sum_table">
                    <tr class="head">
                        <td>Всего:</td>
                        <td>100 грн</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
