@model Tehas.Utils.DataBase.Products.Game

@using (Html.BeginForm("detail", "game", FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    <div class="add_description>">
        <h3>Название:</h3>
        @Html.TextBoxFor(x => x.Name, new { @size = "40", @class = "_cost_" })
        <h3>Точная цена:</h3>
        @Html.TextBoxFor(x => x.Price, new { @size = "40", @class = "_cost_" })        
    </div>
    
    <input type="submit" value="Сохранить" class="add_button">
    <div id="issave" class="add_video">
        <p class="yt">Изменения сохранены</p>
    </div>
}
