<div class="container" id="container">
    <div class="navigation_string">
        <div class="way">
            <a href="/">Главная</a>
        </div>
    </div>
</div>
<div class="container" id="container">
    <div id="not_found">
    </div>
</div>
